body{
	background-image: url("univ.jpg");
}

button{
    background-color: #b30000;
    width: 256px;
    color: white;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #b30000;
   	display: block; 
   	margin: 5px;
}

button:active{
	background-color: #990000;
	border: 2px solid #990000;
}



.atomButton{
	width: 1200px; 
}

.saveButton{
	position: absolute;
	top: 7.8%;
	left: 71.8%;
}

.loadButton{
	position: absolute;
	top: 7.8%;
	left: 85.5%;
}

.cellUpgradeButton{
	position: absolute;
	width: 300px; 
	left: 908;
	top: 152;
}

.plantUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 215;
}

.catUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 277;
}

.humanUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 338;
}

.planetUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 399;
}

.solarSystemUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 470;
}

.galaxyUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 541;
}

.universeUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 605;
}

.multiverseUpgradeButton{
	position: absolute;
	width: 300px;
	left: 908;
	top: 669;
}



#game-time{
	position: absolute;
	left: 2;
	bottom: -20;
	color: White;
}

#cell-income{
	position: absolute;
	left: 280;
	top: 152;
}

#plant-income{
	position: absolute;
	left: 280;
	top: 215;
}

#cat-income{
	position: absolute;
	left: 280;
	top: 277;
}

#human-income{
	position: absolute;
	left: 280;
	top: 338;
}

#planet-income{
	position: absolute;
	left: 280;
	top: 399;
}

#solarSystem-income{
	position: absolute;
	left: 280;
	top: 470;
}

#galaxy-income{
	position: absolute;
	left: 280;
	top: 541;
}

#universe-income{
	position: absolute;
	left: 280;
	top: 605;
}

#multiverse-income{
	position: absolute;
	left: 280;
	top: 669;
}





#cell-upgrade{
	position: absolute;
	left: 1220;
	top: 152;
}

#plant-upgrade{
	position: absolute;
	left: 1220;
	top: 215;
}

#cat-upgrade{
	position: absolute;
	left: 1220;
	top: 277;
}

#human-upgrade{
	position: absolute;
	left: 1220;
	top: 338;
}

#planet-upgrade{
	position: absolute;
	left: 1220;
	top: 399;
}

#solarSystem-upgrade{
	position: absolute;
	left: 1220;
	top: 470;
}

#galaxy-upgrade{
	position: absolute;
	left: 1220;
	top: 541;
}

#universe-upgrade{
	position: absolute;
	left: 1220;
	top: 605;
}

#multiverse-upgrade{
	position: absolute;
	left: 1220;
	top: 669;
}